* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.welcome {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  background-image: linear-gradient(rgba(222, 222, 222, 0.1), rgba(233, 233, 233, 0.5));
}

.welcome img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: 80% 50%;
  z-index: -1;
}

.welcome .welcome__overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: weight(bold);
  color: #3d405b;
  position: relative;
  background-color: rgba(253, 253, 233, 0.5);
  width: 24vw;
  height: 60vh;
  position: absolute;
  top: 20%;
  left: 20%;
}

.welcome .welcome__overlay h1 {
  text-align: center;
}

.welcome__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-around;
  text-decoration: center;
}

.welcome__form input {
  background-color: rgba(253, 253, 233, 0.5);
  border-radius: 5px;
  border-color: #f4f1de;
  margin-bottom: 10px;
}

.welcome .welcome__formbutton {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3d405b;
}

.welcome .welcome__formbutton:hover {
  color: palegoldenrod;
  background-color: #81b29a;
}

@media (max-width: 800px) {
  .welcome {
    width: 100%;
  }
}

.welcome input:hover {
  border-color: #81b29a;
}

.profile {
  display: grid;
  grid-template-rows: fr fr fr;
}

.profile h1 {
  transition: all 0.5s ease-in-out;
}

.profile h1:hover {
  color: #f4f1de;
}

.profile img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: 50% 50%;
}

.avatar {
  display: flex;
  position: absolute;
  right: 10%;
}

.avatar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 50% 50%;
}

.friends {
  display: flex;
  height: 45vh;
  width: 100vw;
}

.requests {
  display: flex;
  height: 45vh;
  width: 100vw;
}

footer {
  position: relative;
  top: 100%;
}

.logout {
  position: absolute;
  width: 50vw;
  height: 20vh;
  top: 10px;
  left: -100px;
}

.relations img {
  height: 150px;
  width: 130px;
  object-fit: none;
  object-position: 50% 50%;
}

.search {
  position: relative;
}

.search__list {
  width: 50vw;
  height: 90vh;
  background-color: rgba(244, 241, 222, 0.6);
  position: fixed;
}

.search__list__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  top: 100px;
}

.item-uploader {
  position: relative;
  top: 200px;
}

.my-items__list {
  display: flex;
  justify-content: space-around;
}

.my-items__list img {
  height: 200px;
  width: 200px;
}

.item-viewer {
  width: 70vw;
  height: 70vh;
  border: 3px #e07a5f solid;
  background-color: rgba(244, 241, 222, 0.6);
}

.item-viewer__img {
  height: 50vh;
  width: 50vw;
  object-fit: cover;
  object-position: 50% 50%;
}

.chat__wrapper {
  height: 70vh;
  width: 80vw;
  overflow-y: auto;
  background-color: rgba(244, 241, 222, 0.6);
}

.chat__wrapper img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: 50% 50%;
}

.chat__item {
  margin-bottom: 20px;
}

.menu-nav {
  height: 80px;
  padding-top: 10px;
  background-color: whitesmoke;
  box-shadow: 0 8px 6px -6px #e07a5f;
  height: 70px;
  display: flex;
  align-content: space-around;
  margin-bottom: 80px;
}

.menu-nav__item {
  margin-left: 20px;
}

.menu-nav i {
  font-size: 50px;
  display: inline;
}

.logo {
  width: 200px;
}

.updates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.updates__item {
  border-radius: 5px;
  border-color: gray;
  margin: 10px, 50px, 10px, 30px;
  height: 450px;
  width: 400px;
}

.updates__item:hover {
  border-color: #81b29a;
}

.updates__item__relation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updates__item__des {
  position: relative;
  top: -60px;
  background: rgba(244, 241, 222, 0.6);
}

.updates__item__small-pic {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: 50% 50%;
}

.updates__item__big-pic {
  height: 300px;
  width: 400px;
  object-fit: cover;
  object-position: 50% 50%;
}

.others {
  display: flex;
  justify-content: space-around;
}

.others__info {
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.others__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60vw;
}

.his-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60vw;
}

.mychat {
  position: absolute;
  width: 100vw;
}

.mychat img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: 50% 50%;
}

.mychat__window {
  overflow-y: auto;
  height: 40vh;
  width: 50vw;
}

.mychat__wrapper {
  display: none;
  position: fixed;
  right: 0;
  top: 50vh;
  width: 50vw;
  border-radius: 10px;
  border: 3px gray solic;
  background-color: rgba(224, 208, 208, 0.6);
}

.profile {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: space-around;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.my-item {
  width: 50vw;
  height: 50vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.middle-picture {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: 50% 50%;
}

.small-picture {
  height: 30px;
  width: 30px;
  object-fit: cover;
  object-position: 50% 50%;
}

.middle-item-pic {
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: 50% 50%;
}

.logout {
  height: 300px;
  width: 200px;
  border-radius: 10px;
  border-color: #e07a5f;
  background-color: rgba(244, 241, 222, 0.6);
  position: relative;
  top: 40px;
}

body {
  width: 100%;
  height: 100%;
  background: #ededed;
  font-weight: 500;
  color: #3d405b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  height: 30px;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f4f1de;
  color: #3d405b;
}

input {
  height: 30px;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f4f1de;
  color: #3d405b;
  outline: none;
  margin-right: 20px;
}

textarea {
  height: 50px;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f4f1de;
  color: #3d405b;
  outline: none;
  margin-right: 20px;
}

.heart-wrapper {
  padding-top: 50px;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  overflow: hidden;
}

.heart-wrapper i.not-liked {
  visibility: visible;
  color: whitesmoke;
  position: relative;
  z-index: 1;
}

.heart-wrapper i.is-liked {
  visibility: hidden;
  color: whitesmoke;
  position: relative;
  z-index: 1;
}

.heart-wrapper.is-active i.not-liked {
  visibility: hidden;
}

.heart-wrapper.is-active i.is-liked {
  visibility: visible;
}

@keyframes bouncy {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.bouncy {
  animation: bouncy 0.6s;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}
/*# sourceMappingURL=main.css.map */