* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.welcome {
  width: 100%;
  background: linear-gradient(to right, rgba(129, 178, 154, 0.9), rgba(129, 178, 154, 0.3)), url("../public/super woman.png");
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome .welcome__title {
  font-weight: weight(bold);
  color: #e07a5f;
}

.welcome .welcome__formbutton {
  border-radius: 5px;
  background-color: #3d405b;
  color: #f4f1de;
}

.welcome .welcome__formbutton:hover {
  color: palegoldenrod;
  background-color: #81b29a;
}

.welcome__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 800px) {
  .welcome {
    width: 100%;
  }
}

.welcome input:hover {
  border-color: #81b29a;
}

.profile {
  display: grid;
  grid-template-rows: fr fr fr;
}

.profile h1 {
  transition: all 0.5s ease-in-out;
}

.profile h1:hover {
  color: #f4f1de;
}

.avatar {
  display: flex;
  position: absolute;
  right: 10%;
}

.avatar img {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  object-fit: none;
  object-position: 50% 50%;
}

.friends {
  display: flex;
}

.requests {
  display: flex;
}

nav {
  display: flex;
}

.menu-nav {
  display: flex;
}

.search {
  height: 20px;
  position: absolute;
}

footer {
  position: relative;
  bottom: 0;
}

.logout {
  position: absolute;
  right: 20%;
}

.relations img {
  height: 150px;
  width: 130px;
  object-fit: none;
  object-position: 50% 50%;
}

.search__list {
  background-color: #81b29a;
  width: 100vw;
  height: 90vh;
  position: relative;
}

.search__list__wrapper {
  width: 80vw;
  height: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  top: 100px;
}

.search__list__wrapper img {
  height: 100px;
  width: 100px;
  object-fit: none;
  object-position: 50% 50%;
}

.item-uploader {
  position: relative;
  top: 200px;
}

.my-items__list {
  display: flex;
  justify-content: space-around;
}

.my-items__list img {
  height: 200px;
  width: 200px;
}

.item-viewer__img {
  height: 200px;
  width: 200px;
}

body {
  width: 100%;
  height: 100%;
  background: #ededed;
  font-weight: 500;
  color: #3d405b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

.heart-wrapper {
  padding-top: 50px;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  overflow: hidden;
}

.heart-wrapper i.not-liked {
  visibility: visible;
  color: whitesmoke;
  position: relative;
  z-index: 1;
}

.heart-wrapper i.is-liked {
  visibility: hidden;
  color: whitesmoke;
  position: relative;
  z-index: 1;
}

.heart-wrapper.is-active i.not-liked {
  visibility: hidden;
}

.heart-wrapper.is-active i.is-liked {
  visibility: visible;
}

@keyframes bouncy {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.bouncy {
  animation: bouncy 0.6s;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}
/*# sourceMappingURL=main.css.map */