@import "./config";

.avatar {
    display: flex;
    img {
        margin-top: 20px;
        width: 100px;
        height: 100px;
        object-fit: none;
        object-position: 50% 50%;
    }
    position: absolute;
    right: 10%;
}

.friends {
    display: flex;
}
.requests {
    display: flex;
}
nav {
    display: flex;
}
.menu-nav {
    display: flex;
}

.search {
    height: 20px;
    position: absolute;
}

footer {
    position: relative;
    bottom: 0;
}

.logout {
    position: absolute;
    right: 20%;
}

.relations {
    img {
        height: 150px;
        width: 130px;
        object-fit: none;
        object-position: 50% 50%;
    }
}

.search {
    &__list {
        background-color: $wallgreen;
        width: 100vw;
        height: 90vh;
        position: relative;
        &__wrapper {
            width: 80vw;
            height: 60vw;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            position: absolute;
            top: 100px;

            img {
                height: 100px;
                width: 100px;
                object-fit: none;
                object-position: 50% 50%;
            }
        }
    }
}

.item-uploader {
    position: relative;
    top: 200px;
}

.my-items {
    &__list {
        display: flex;
        justify-content: space-around;

        img {
            height: 200px;
            width: 200px;
        }
    }
}

.item-viewer {
    &__img {
        height: 200px;
        width: 200px;
    }
}

.chat {
    &__wrapper {
        height: 80vh;
        width: 80vw;
        overflow-y: auto;
        img {
            height: 40px;
            width: 40px;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &__item {
        margin-top: 20px;
    }
}

nav {
    height: 80px;
    background-color: whitesmoke;
    box-shadow: 5px 10px $wallgreen inset;
    height: 70px;
}

.logo {
    width: 70px;
}

.updates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    &__item {
        border-radius: 5px;
        border-color: gray;
        margin: 10px, 10px, 10px, 10px;
        height: 450px;
        width: 400px;
        &__relation {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__small-pic {
            height: 50px;
            width: 50px;
            object-fit: cover;
            object-position: 50% 50%;
        }
        &__big-pic {
            height: 300px;
            width: 400px;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}
.friend-button {
    width: 100px;
    button {
        height: 30px;
        width: 100px;
        cursor: pointer;
        border-radius: 5px;
        background-color: $zhusha;
        color: $coolnavy;
    }
}

.others {
    display: flex;
    justify-content: space-around;
    &__info {
        height: 100vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 60vw;
    }
}

.his-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60vw;
}
