@import "./resets", "./config";
@import "./welcome", "./profile";
@import "./components";

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}
body {
    background-color: $base-color;
    font-weight: weight(medium);
    color: $coolnavy;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
